{% extends "layout.html" %}
{% block style %}
    <link rel="stylesheet" href="{{url_for('static', filename='hola.css')}}">
{% endblock %}
{% block body %}
    <main class="contenedor-principal">
        <div class="">
            <h2>Ultimas notas creadas</h2>
            {% for nota in notas %}
                <div class="">
                    <div class="">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span>
                                    <img class="imagen-nota" src="{{url_for('static', filename='imagenes/file.jpeg')}}" width="25" height="25" alt="">
                                    <a class="titulo-nota" href="{{url_for('notas_page.notaEditar',notas_id=nota[0])}}">
                                        {{nota[1]}}
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="titulo-chico">
            <h3>Buscar en las notas</h3>
            <form class="form-signin" action="" method="post">
                <input class="form-control" type="text" name="" placeholder="Buscar nota..">
                <input class="btn btn-primary separacion-chico" type="submit" value="Buscar">
            </form>
        </div>
    </main>
{% endblock %}
