<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
        {% block style %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-md bg-dark">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{{url_for('hola')}}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('notas_page.hola')}}">Notas</a></li>
            </ul>
            <div class="">
                <span style="color: gray;"> Hola, Lucho!</span>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>
