{% extends "layout.html" %}
{% block style %}
    <link rel="stylesheet" href="{{url_for('static', filename='notas/css/notas.css')}}">
{% endblock %}
{% block body %}
    <div id="sidebar-wrapper">
        <ul class="ul-editar">
          <li class="">
                <a href="{{url_for('notas_page.notaNueva')}}">
                    <input class="btn btn-success boton-editar" type="submit" value="">
                </a>
          </li>
          <li class="">
              <a href="{{url_for('notas_imagenes_page.nota_imagen', nota_id=notas_id)}}">
                  <input class="btn btn-primary boton-editar" type="submit" value="">
              </a>
          </li>
          <li class="">
              <input id="nota-borrar-btn" class="btn btn-danger boton-editar" type="submit" value="">
          </li>
        </ul>
    </div>

    <div class="contenedor-login">
        <div id="nota-editar">
            <h1 id="titulo-editar">Editar nota</h1>

            <div class="container-edit">
                <input id="titulo-nota" class="form-control" type="text" name="titulo" value="{{nota[1]}}">
                <textarea id="contenido-nota" class="form-control" name="contenido" rows="16" placeholder="Escribe aqui el contenido">{{nota[2]}}</textarea>
            </div>
        </div>

        <div id="nota-borrar">
            <h2>Borrar nota</h2>
            <p>No hay vuelta atrás.</p>
            <a id="a-notaBorrar" href=""></a>
            <input id="btn-notaBorrar" class="btn btn-danger" type="submit" value="Borrar">
        </div>
    </div>

    <script src="{{url_for('static', filename='jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='notas/js/notas.js')}}" type="text/javascript">
    </script>
     <script type="text/javascript">
         URL_BORRAR = "{{url_for('notas_page.notaBorrar', notas_id=notas_id)}}"
         URL_GUARDAR = "{{url_for('notas_page.notaEditar', notas_id=notas_id)}}"
         URL_HOLA = "{{url_for('notas_page.hola')}}"
         NOTA_ID = "{{notas_id}}"
     </script>
{% endblock %}
